name = "sustainability-signals"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"
cwd = "/"
watch_dirs = ["src", "public"]

[build.upload]
format = "service-worker"
dir = "dist"
main = "./dist/index.html"

